/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* mack var */
:root{
    --blubut: #3dffd2;
    --bgcolor: #fff;
    --text-in-dark: #e7e7e7;
    --text-in-light: #181818;

}
/* html set */
html{
    scroll-behavior: smooth;
}
body{
background-color: var(--bgcolor);
}
.container{
    width: 70%;
    margin: auto;
}
/* start header */
/* heade background and settings */
header {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* start top side of header  */
.nav-navi{
    
    display: flex;
    justify-content: space-between;
}



/* end of header  */