/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* mack var */
:root{
    --blubut: #3cebc2;
    --bgcolor: #fff;
    --text-in-dark: #f6f6f6;
    --text-in-light: #202020;
    --perp: #3A2E60 ;

}
/* html set */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&display=swap');
html{
    scroll-behavior: smooth;
}
body{
background-color: var(--bgcolor);
font-family: Arial, Helvetica, sans-serif;
}
.container{
    width:75%;
    margin: 0 auto;
}
/* start header */
/* heade background and settings */
header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* start top side of header  */
.ham-mnu{
    display: none;
    color: var(--text-in-dark);
    font-size: 1.5rem;
    margin-top: 10px;
    cursor: pointer;
}
.nav-navi{
    
    display: flex;
    justify-content: space-between;
    padding:1rem;
}
.nav-ul{
    display: flex;
    list-style: none;
}
.nav-ul li {
    margin: 2px;
    padding: 5px;
}
.nav-ul a {
    color: var(--text-in-dark);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.8rem;
    padding: 4px 9px;
    border: 1px solid transparent;
}
.nav-ul .home-but {
    color: var(--blubut);
}

.nav-ul a:hover{
    background-color: #fff;
    color: var(--perp);
    border-radius: 10px;
}

/* end of top side of header  */
/* start main header */
.main-header{
    display: flex;
    color: var(--text-in-dark);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.titel{
    font-family: 'IM Fell Double Pica', serif;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.line{
    background-color: var(--blubut);
    width: 100px;
    height: 2px;
    border-radius: 50%;
    margin-bottom:30px;
    
}
.header-texes{
    line-height: 25px;
    margin-bottom:50px;
}
.but-link a{
    text-decoration: none;
    color: var(--blubut);
    border: 1px solid var(--blubut);
    padding: 10px 15px;
    text-transform: uppercase;
}
.but-link a:hover{
    background-color: var(--bgcolor);
    color: var(--perp);
    border: none;
}
.linkto{
    align-self: center;
    justify-self: flex-end;
    font-weight: 400;
    font-size: 1rem;
    padding: 15px;
    position: absolute;
    bottom: 20px;
}
.linkto a {
    color: var(--text-in-dark);
    text-decoration: none;
}
/* end of header  */
/* start main1  */
.main-1{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 40% 60%;
}
/* start main 1-1 */
.main-1-1{
    
    display: grid;
    background-color: var(--bgcolor);
    grid-template-columns: 40% 60%;
}
.main-1-1-logo {
    margin: auto;
}
.main-1-texes{
    padding: 40px 0;
    color: var(--text-in-light);
    
}
.main-1-1-h2{
    text-transform: uppercase;
    word-spacing: 10px;
    font-weight: 100;
    margin-bottom: 30px;
}
.main-1-texes
.main-1-texe1,
.main-1-texe2{
    margin-bottom: 15px;
    font-size: 0.9rem;
    line-height: 20px;
    font-weight: 400px;
    
}
.main-1-but-link{
    margin-top: 2rem;
}
.main-1-but-link a{
    text-decoration: none;
    color: var(--blubut);
    border: 1px solid var(--blubut);
    padding: 10px 15px;
    text-transform: uppercase;
}
.main-1-but-link a:hover{
    background-color: var(--perp);
    color: var(--text-in-dark);
    border: none;
}
/* end main-1-1  */
/* start main 1-2  */

.main-1-2 {
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.main-1-2-ap{
    color: var(--text-in-dark);
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;

}
.main-1-2 .texes {
    color: var(--text-in-dark);
    text-align: center;
    margin-bottom: 15px;
    font-size: 0.9rem;
    line-height: 25px;

}
.main-1-2-config{
    display: block;
    
    
}
.main-1-2-conpic {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    
}
.captions {
    text-align: center;
    margin-top: 10px;
    color: var(--text-in-dark);
    font-size: 0.8rem;
}
.main-1-2-conname{
    font-weight: 100;
    margin-bottom: 5px;
}
/* end main-1  */
/* start main 2 */

.main-2 {
    /* background-color: rgb(87, 63, 63); */
    display: grid;
    grid-template-columns: 50% 50%;
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
/* start main 2 left side*/
.main-2-forms{
    padding: 50px 0;
}
.forms-titel{
    /* text-align: center; */
    margin-bottom: 30px;
    color: var(--text-in-light);
    font-size: 1.5rem;
    text-transform: uppercase;
}
#forms{
    display: flex;
    flex-direction: column;
}
#forms .text-a{
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    border: none;
    padding: 10px;
    outline:none;
    box-shadow: 1px 1px 5px #949494;
    border-radius: 4px;
}

.text-area {
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
    border: none;
    padding: 10px;
    outline:none;
    box-shadow: 1px 1px 5px #949494;
    border-radius: 4px;
 }
 .sub-but{
    width: 100%;
    height: 50px;
    border: 1px solid var(--blubut) ;
    padding: 10px;
    outline:none;
    box-shadow: 1px 1px 5px var(--blubut);
    border-radius: 4px;
    background-color: #fff;
    color: var(--blubut);
    cursor: pointer;
    font-weight: 600;
}
/* end left side  */
.clients{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    height: 81%;

    
}
.clint-titel{
    margin-bottom: 30px;
    color: var(--text-in-light);
    font-size: 1.5rem;
    text-transform: uppercase;
    
}
.logos{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
    grid-gap: 40px;
}
.lo img{
    width: 150px;
    
}

footer{
    background-image: url(../img/bg3.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center center;
    color: var(--text-in-dark);
    padding-top: 40px;
}
.f-top-side{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.addre{
    display: grid;
    grid-template-columns: 10% 90%;
    font-weight: 100;
    text-align: justify;
    line-height: 25px;
    margin-top: 30px;
}
.fo-1{
    margin-right: 20px;
}
.fo-2{
    margin-right: 20px;
}
.fo-1 p {
    font-weight: 100;
    text-align: justify;
    line-height: 25px;
}
.fo-2 h3{
    text-transform: uppercase;
}
.fo-3 h3 {
   margin-bottom: 30px; 
   text-transform: uppercase;
}
.fo-3 input{
    width: 70%;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.746);
    padding: 10px;
    outline:none;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
}
.fo-3 button{
    height: 30px;
    margin-left: 5px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.418);
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    
}

@media (max-width: 651px){
    .logos img{
        width: 100px;
        
    }
    .clients{
        justify-content: center;
        align-items: center;
    
    }
    .nav-ul{
        display: none;
    }
    .ham-mnu{
        display: block;
    }
    .container{
        width:95%;
        margin: 0 auto;
    }
    .logo img {
        width: 6rem;
        margin-top:5px;

    }
    .titel{
        font-size: 1.8rem;
    }
    .header-texes{
        line-height: 20px;
    }
    .main-1{
        height: auto;
        display: flex;
        flex-direction: column;
        /* grid-template-columns: auto; */
    }
    .main-1-1{
        /* grid-template-columns: auto;
        grid-template-rows: 300px 800px; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 20px;
        height: 100vh;

    }
    .main-1-but-link {
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .main-1-2{
        height: 100vh;
    }
    .main-2{
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    .logos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    footer{
        height: auto;
        padding: 20px;
        
    }
    .f-top-side{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .fo-2 h3, .fo-3 h3{
        margin-top: 30px;
    }

    
}
@media (min-width: 651px ) and (max-width: 768px ){
    
    .clients{
        justify-content: center;
        align-items: center;
    
    }
    .nav-ul{
        display: none;
    }
    .ham-mnu{
        display: block;
    }
    .container{
        width:85%;
        margin: 0 auto;
    }
    .logo img {
        width: 7rem;
        margin-top:5px;

    }
    .titel{
        font-size: 1.8rem;
    }
    .header-texes{
        line-height: 20px;
    }
    .main-1{
        height: auto;
        display: flex;
        flex-direction: column;
        /* grid-template-columns: auto; */
    }
    .main-1-1{
        /* grid-template-columns: auto;
        grid-template-rows: 300px 800px; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 20px;
        height: 100vh;

    }
    .main-1-but-link {
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .main-1-2{
        height: 100vh;
    }
    .main-2{
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    .logos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    footer{
        height: auto;
        padding: 20px;
        
    }
    .f-top-side{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .fo-2 h3, .fo-3 h3{
        margin-top: 30px;
    }

}
@media (min-width: 768px ) and (max-width: 907px ){
    .lo img{
        width: 90px;
    }
    .main-1-1-logo{
        width: 100px;
        
    }
    
}
@media (max-height: 640px ){
    .main-1, .main-1-1, .main-2, footer {
        height: auto;
        
    }
    .titel{
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
    .header-texes{
        font-size: 0.8rem;
    }
    .line{
        margin-bottom: 5px;
    }
    .header{
        height: 100vh;
    }
    ..linkto{

    }
}
